{{fa-icon 'fa fa-plus'}} Add New Athlete:
{{input placeholder='First Name' valueBinding='newAthlete.firstName'}}
{{input placeholder='Last Name' valueBinding='newAthlete.lastName'}}
{{input placeholder='Gender' valueBinding='newAthlete.gender'}}
<span {{action 'createAthlete' newAthlete}}>{{fa-icon 'fa fa-save'}}</span>

{{yield}}
