<td>{{fa-icon 'fa fa-pencil-square-o'}}</td>
<td>{{workout.date }}</td>
<td>{{workout.title}}</td>
<td>{{workout.type}}</td>
<td>{{workout.distance}}</td>
<td>{{workout.duration}}</td>
{{!-- <td>{{workout.reps}}</td> --}}
{{!-- <td>{{workout.newPr}}</td> --}}
<td>{{workout.notes}}</td>
<td>{{fa-icon 'fa-trash-o'}}</td>

{{yield}}

