{{#unless editable}}

<td {{action 'toggleEditable'}}>{{fa-icon 'fa fa-pencil-square-o'}}</td>
<td>{{workout.date }}</td>
<td>{{workout.title}}</td>
<td>{{workout.type}}</td>
<td>{{workout.distance}}</td>
<td>{{workout.duration}}</td>
{{!-- <td>{{workout.reps}}</td> --}}
{{!-- <td>{{workout.newPr}}</td> --}}
<td>{{workout.notes}}</td>
<td {{action 'deleteWorkout'}}>{{fa-icon 'fa-trash-o'}}</td>

{{else}}

<td></td>
<td>{{input valueBinding='workout.date' enter='editWorkout'}}</td>
<td>{{input valueBinding='workout.title' enter='editWorkout'}}</td>
<td>{{input valueBinding='workout.type' enter='editWorkout'}}</td>
<td>{{input valueBinding='workout.distance' enter='editWorkout'}}</td>
<td>{{input valueBinding='workout.duration' enter='editWorkout'}}</td>
{{!-- <td>{{workout.reps}}</td> --}}
{{!-- <td>{{workout.newPr}}</td> --}}
<td>{{input placeholder='Notes' valueBinding='workout.notes'}}</td>
<td {{action 'editWorkout'}}>{{fa-icon 'fa fa-save'}}</td>
{{/unless}}

{{yield}}

