{{#unless editable}}

<span {{action 'toggleExpanded'}}>{{fa-icon 'fa fa-chevron-right'}}</span>Athlete: <strong>{{athlete.lastname}}, {{athlete.firstname}} - Gender: {{athlete.gender}} - ID: {{athlete.id}}</strong>
<span {{action 'deleteAthlete'}}>{{fa-icon 'fa fa-trash-o' size=1}}</span>
<span {{action 'toggleEditable'}}>{{fa-icon 'fa fa-edit' size=1}}</span>

{{else}}

Athlete: <strong>{{input valueBinding='athlete.lastname'}}, {{input valueBinding='athlete.firstname'}} - Gender: {{input valueBinding='athlete.gender'}}</strong>
{{!-- <button {{action 'deleteAthlete'}}>Delete</button> --}}
<span {{action 'editAthlete'}}>{{fa-icon 'fa fa-save' size=1}}</span>

{{/unless}}

<div class="table-responsive">
<table class="table table-striped">
<thead>
  <tr>
   <th></th>
   <th>Date</th>
   <th>Title</th>
   <th>Type</th>
   <th>Distance</th>
   <th>Duration</th>
{{!--    <th>Reps</th>
   <th>New PR?</th> --}}
   <th>Notes</th>
   <th>Delete</th>
 </tr>
</thead>
<tbody>
{{#each athlete.workouts as |workout|}}
  {{athlete-profile/single-workout workout=workout routeEditWorkout='editWorkout' routeDeleteWorkout='deleteWorkout'}}
{{/each}}
{{athlete-profile/new-workout routeCreateWorkout='createWorkout'}}
</tbody>
</table>
</div>
