Athlete: <strong>{{athlete.lastname}}, {{athlete.firstname}} - id: {{athlete.id}}</strong>
<button {{action 'deleteAthlete'}}>Delete</button>
<button {{action 'editAthlete'}}>Edit</button>

<div class="table-responsive">
<table class="table table-striped">
<thead>
  <tr>
   <th></th>
   <th>Date</th>
   <th>Title</th>
   <th>Type</th>
   <th>Distance</th>
   <th>Duration</th>
{{!--    <th>Reps</th>
   <th>New PR?</th> --}}
   <th>Notes</th>
   <th>Delete</th>
 </tr>
</thead>
<tbody>
{{#each athlete.workouts as |workout|}}
  {{athlete-profile/single-workout workout=workout routeEditWorkout='editWorkout' routeDeleteWorkout='deleteWorkout'}}
{{/each}}
{{athlete-profile/new-workout routeCreateWorkout='createWorkout'}}
</tbody>
</table>
</div>
