{{#unless editable}}

<span {{action 'toggleExpanded'}}>
  {{#unless expanded}}
    {{fa-icon 'fa fa-chevron-right'}}
  {{else}}
    {{fa-icon 'fa fa-chevron-down'}}{{/unless}}
</span>
Athlete:
<strong>{{#link-to 'athlete' athlete}}{{athlete.lastname}}, {{athlete.firstname}}{{/link-to}}</strong>

<span {{action 'deleteAthlete'}}>{{fa-icon 'fa fa-trash-o' size=1}}</span>
<span {{action 'toggleEditable'}}>{{fa-icon 'fa fa-edit' size=1}}</span>

{{else}}

<span {{action 'toggleExpanded'}}>{{#unless expanded}}{{fa-icon 'fa fa-chevron-right'}}{{else}}{{fa-icon 'fa fa-chevron-down'}}{{/unless}}</span>  Athlete: <strong>{{input valueBinding='athlete.lastname'}}, {{input valueBinding='athlete.firstname'}} - Gender: {{input valueBinding='athlete.gender'}}</strong>
<span {{action 'editAthlete'}}>{{fa-icon 'fa fa-save' size=1}}</span>

{{/unless}}
{{#if expanded}}
<div class="table-responsive">
<table class="table table-hover table-condensed">
<thead>
  <tr>
   <th></th>
   <th class='col-md-2'>Date</th>
   <th class='col-md-2'>Title</th>
   <th class='col-md-1'>Type</th>
   <th class='col-md-1'>Distance</th>
   <th class='col-md-1'>Duration</th>
{{!--    <th>Reps</th>
   <th>New PR?</th> --}}
   <th class='col-md-5'>Notes</th>
   <th></th>
 </tr>
</thead>
<tbody>
{{#each athlete.workouts as |workout|}}
  {{athlete-profile/single-workout workout=workout routeEditWorkout='editWorkout' routeDeleteWorkout='deleteWorkout'}}
{{/each}}
{{athlete-profile/new-workout routeCreateWorkout='createWorkout'}}
</tbody>
</table>
</div>
{{/if}}

{{outlet}}
